HELP.md
README.md
LICENSE

### Java ###
*.class
*.jar
*.war
*.ear
*.db
*.log

### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle ###
.gradle/
!**/src/main/**/.gradle/
!**/src/test/**/.gradle/
!gradle/
!**/src/main/**/gradle/
!**/src/test/**/gradle/
.gradlew
.gradlew.bat
!**/src/main/**/.gradlew*
!**/src/test/**/.gradlew*
!**/src/main/**/.gradle*
!**/src/test/**/.gradle*
!**/src/main/**/.gradle/
/buildSrc/build/
/buildSrc/libs/
/buildSrc/src/build/
/buildSrc/src/libs/
/buildSrc/src/main/build/
/buildSrc/src/main/libs/
!**/src/main/**/buildSrc/build/
!**/src/test/**/buildSrc/build/
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
